[Desktop Entry]
Name={{project-pretty-name}}
Exec={{project-name}} %F
Terminal=false
Type=Application
StartupNotify=true
Icon={{appid}}
Categories=COSMIC;
Keywords=
MimeType=
